/* ===== PAGE ===== */

#about-content {

}

/* ===== INFO CARD GROUPS */

#ic-group-love { background: url('./bkg/pink_rice.png') repeat; }
#ic-group-done { background: url('./bkg/green_dust_scratch.png') repeat; }
#ic-group-want { background: url('./bkg/weather.png') repeat; }


.ic-group > div {
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.ic-group-title {
    display: block;
    margin: 10px 0;
    width: 100%;
    font-size: 200%;
}

/* ===== INFO CARDS ===== */

.ic-container {
    /* This is the container for each info card */
    margin: 5px 2%;
    width: 100%;
    border-radius: 5px;

    display: inline-flex;

    overflow: auto; /* This makes the container expand accordingly with its children */
}

@media (min-width: 768px) {
    .ic-container {
        margin: 5px 1%;
        width: 48%;
    }
}

.ic-icon {
    display: inline-block;
    margin: 5px;

    cursor: pointer;
}

.ic-icon img {
    width: 64px; height: 64px;
}

.ic-textBoxes {
    display: inline-block;
    margin: 5px 5px 10px 5px;

    color: #fafafa; /* Grey 50 */

    overflow: hidden; /* This makes the container expand accordingly with its children */
}

.ic-title {
    margin-bottom: 5px;
    min-height: 64px;

    font: 133% 'Open Sans', sans-serif;

    display: flex;
    align-items: center;

    cursor: pointer;
    user-select: none;
}

.ic-description {
    font-size: 100%;

    user-select: text;
    cursor: auto;
}

.ic-love { background-color: #F06292; /* Pink 300 */ }
.ic-done { background-color: #81C784; /* Green 300 */ }
.ic-want { background-color: #64B5F6; /* Blue 300 */ }