extends layout

block custom-stylesheets
    link(rel='stylesheet', href='/stylesheets/about.css')
block custom-js
    script(src='/javascripts/about.js')

block content
    #main-content.wrapper
        |Under construction...
