extends layout

block custom-stylesheets
    link(rel='stylesheet', href='/stylesheets/anagram.css')
block custom-js
    script(src='/javascripts/anagram.js')

block content
    #main-content.wrapper
        #app-title: b: |Anagram Solver
        #app-desc
            |A multi-word anagram solver. Not compatible with Internet Explorer 8 and below.
        br
        #anagram-app
            form(@submit.prevent)
                |Text to run anagram solver on:
                br
                input#query-input(type='text', name='query', size='20', v-model='queryMsg', @click='queryInputClicked')
                input#query-submit(type='submit', value='Solve!', @click='queryAnagram')
            |{{ resultMsg }}
