extends layout

block content
    header#header
        nav#nav-primary
            a(href='/') Home
            a(href='/about') About
            a(href='/projects') Projects
            a(href='/contact') Contact
        div.headerfbox
        div#title
            =title
    div#main-content
        |So people coming here often ask: what's a "reever"?
        br
        |Read on and you'll find the answer.
    footer#footer