extends layout

block custom-stylesheets
    link(rel='stylesheet', href='stylesheets/index.css')
block custom-js
    script(src='/javascripts/index.js')

block content
    #main-content.wrapper
        |Hello and welcome to my site,
        br
        br
        |Here you can find out a bit about me, and my current projects.

