doctype html
html
    head
        meta(charset='utf-8')
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content=description)
        meta(name='keywords', content=keywordlist)
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='/stylesheets/style.css')
        block custom-stylesheets
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        script(src='/javascripts/main.js')
        block custom-js

    body
        header#header
            #header-mobile.wrapper.mobile-show
                div.text-left: a(href='/'): i.material-icons.md-24 &#xE88A;
                div.text-right
                    a#btn-menu(href='#')
                        i#btn-menu-open.material-icons.md-24 &#xE5D2;
                        i#btn-menu-close.material-icons.md-24.hidden &#xE14C;
            #header-desktop.wrapper.row.mobile-hide
                #title.col-3: a(href='/'): |Binh Nguyen
                // TODO: replace the above with a logo
                .col-3(style='min-height: 1px;')
                nav#nav-d.row.col-6
                    .col-3: a(href='/about') About
                    .col-3: a(href='/about') Blog
                    .col-3: a(href='/projects') Projects
                    .col-3: a(href='/contact') Contact
        nav#nav-overlay-m.row.hidden
            .col-12: a(href='/') Home
            .col-12: a(href='/about') About
            .col-12: a(href='/projects') Projects
            .col-12: a(href='/contact') Contact
        block content
        footer#footer
