extends layout

block custom-stylesheets
    link(rel='stylesheet', href='stylesheets/projects.css')
block custom-js
    script(src='/javascripts/projects.js')

block content
    div#main-content.wrapper
        |Here you can find a list of my projects.
        br
        br
