.about-card-container {

}

.logo-container {
    text-align: center;
}

.logo-container svg {
    display: inline-block;
    width: 3em;
    height: 3em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.about-card-container span {
    display: block;
    text-align: center;
}

.icon-edu {
    width: 1.31640625em;
}