extends layout

block custom-stylesheets
    link(rel='stylesheet', href='/stylesheets/blog.css')
block custom-js
    script(src='/javascripts/blog.js')

block content
    #main-content.wrapper
        |Under construction...
