extends layout

block custom-stylesheets
    link(rel='stylesheet', href='/stylesheets/contact.css')
block custom-js
    script(src='/javascripts/contact.js')

block content
    #main-content.wrapper
        |Under construction...
