/* ===== HEADER ===== */

#header {
    padding: 10px;
    text-align: right;
}

#header span {
    display: inline-block;
    margin: 0 10px;
    border-bottom: 1px solid #03A9F4; /* Light Blue 500 */
}








/* Header (Mobile) */

#header-mobile {
    height: 20px;
    /* Note this container has a similar height to the icon elements it contains */
    /* This is to vertically align the container's child elements */
}

#header-mobile div {
    display: inline-block;
    width: 50%;
    height: 20px;
    /* There are 2 main elements under #header-mobile, hence the width of each should be 50% */
    /* Text-aligning rules are set inline directly within the .html file */
}

#header-mobile i {
    line-height: 20px;
    /* The line height of the icon element is equal to the height of its container */
    /* This vertically center the icon element */
}

/* Nav Overlay (Mobile) */
/* This is the overlay appearing when the menu button is clicked */

#nav-overlay-m {
    position: fixed; top: 40px; left: 0;
    /* The overlay is positioned immediately below the header */
    /* The header has a height of 20px, but we have to add in 10px x 2 to account for the padding*/

    width: 100%; height: 100%;
    background-color: #212121;
    opacity: .9; filter: alpha(opacity = 90);

    padding: 10px;
}

#nav-overlay-m div {
    padding: 5px;
    text-align: right;
}

#nav-overlay-m a {
    color: #fafafa;
}

/* Header (Desktop) */

#header-desktop {
    height: 20px;

    line-height: 20px;
    /* Setting line-height to >= font-size will vertically align single-line inline elements */

    font-size: 18px;
}

#logo-title {
    color: #66bb6a;
}

/* Nav Bar (Desktop) */

#nav-d {
    color: #fafafa;
}

/*#nav-d:before {  // 08/01/2017: Don't know what this relates to...
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}*/

#nav-d a {
    display: inline-block;
    padding: 0 10px 0 10px;
    color: #fafafa;
}

#nav-d a:hover {
    color: #2196F3;
}