/* ===== HEADER ===== */

#header-container {
    border-bottom: solid 2px #212121;
}

#header {
    padding: 0 10px;
    text-align: right;
}

#header span {
    display: inline-block;
    /* border-bottom: 1px solid #03A9F4; /* Light Blue 500 */
}

#header a {
    display: inline-block;
    padding: 10px;
}

.header-a {color: #212121;}
.header-a:hover {
    background-color: #E0E0E0; /* Grey 300 */
}

.header-a-active {
    background-color: #212121;
    color: #f5f5f5;
}

